body {
	background-color:#329ae5;
	background-image: url(../images/shadow-top.png);
	background-repeat: repeat-x;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.homepage {
	background-image: url(../images/darla.png);
	background-repeat: no-repeat;
	min-height: 623px;
	font-weight: 300;
	color: #ffffff;
}

.homepage {
	text-align: center;
}

.homepage h1, .homepage h2, .homepage h3 {
	font-weight: 300;
	text-shadow: 1px 1px 1px #1982cd;
}

.homepage h2 {
	font-size:35px;
}

.homepage h2 span {
	text-transform: uppercase;
}

.homepage h3 {
	font-size:18px;
	line-height: 26px;
}

.homepage form {
	color: #eaf2f7;
	font-size: 13px;
	border:1px solid red;
}

.homepage input {
	border:1px solid #70bcf2;
	background-color: #329ae5;
	margin:0 auto;
	font-size: 13px;
}

.homepage .input-group {
	margin:0 auto;
	width: 80%;
}

.footer {
	background-color: #1c1f2a;
	text-align: center;
	color: #eaf2f7;
	font-size: 12px;
	min-height: 200px;
}

.btn.btn-primary {
	background-color: #004b98;
	border:none;	
}

.skin-blue .navbar {
	background-color: #14161e;
}

.skin-blue .logo {
	background-color: #ffffff;
}

body > .header .navbar {
	height: 76px;
}

body > .header .logo {
	height: 76px;
}